<!-- <div id="carousalExampleIndicators" class="carousal slide my-4" data-ride="carousel">
    <ol class="carousal-indicators">
        <li data-target="carousalExampleIndicators"data-slide-to="0" class="active"></li>
        <li data-target="carousalExampleIndicators"data-slide-to="1" ></li>
        <li data-target="carousalExampleIndicators"data-slide-to="2" ></li>

    </ol>
    <div class="carousal-inner"  role="listbox">
        <div class="carousal-item active">
            <img class="d-block img-fluid" src=" http://placehold.it/900X350" alt="First slide">

        </div>
        <div class="carousal-item ">
            <img class="d-block img-fluid" src=" http://placehold.it/900X350" alt="Second slide">

        </div>
        <div class="carousal-item ">
            <img class="d-block img-fluid" src=" http://placehold.it/900X350" alt="Third slide">

        </div>
    </div>

    
    <a class="carousal-control-prev" href="carousalExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousal-control-next" href="carousalExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">next</span>
    </a>
    
</div> -->



   


<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let products of productList">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{products.productImg}}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">item once</a>
        </h4>
        <h5>$24.99</h5>
        <p class="card-text">lorem....</p>

      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733;&#9733;&#9733;&#9733;&#9734;</small>

      </div>

    </div>
   
  </div>
</div>
    
